<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#"><span class="text-primary">C</span>V</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

      </ul>
    </div>
  </div>
</nav>


  <!-- about section starts -->
  <section id="about" class="about section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-12">
                <div class="about-img">
                    <img src="assets/img/about.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
                <div class="about-text">
                  <p>Je me Nomme</p> <br>
                      <h2>  <span class="text-warning">Aurélien</span>TAKU
                          </h2>
                          <br>

                          <h5>Etudiant en 4ème année <span class="text-primary">Informatique et Systèmes d'Informations</span> </h5>
                      <!-- <a href="#" class="btn btn-primary">Learn More</a> -->
                </div>
            </div>

            <br>
            <br>



            <div style="float: left;">
              <p>
                Contactez-nous au +237 691 878 551
              </p>

            </div>
        </div>
    </div>
</section>


 <!-- footer starts -->
 <footer class="bg-dark p-2 text-center">
  <div class="container">
      <p class="text-white">Tous droits réservés par <span class="text-primary"> TAKU </span> Aurélien</p>
  </div>
</footer>
<!-- footer ends -->






<router-outlet></router-outlet>
